.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 100vw;
    background-color: #0d0d0d;
    background-size: streach;
    background-position: center;
    background-repeat: no-repeat;
}

.hero {
    min-width: 100vw;
    min-height: 80vh;
    background-image: url("/bg.jpeg");
    background-size: streach;
    background-repeat: no-repeat;
    background-position: center;
}