.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    min-height: 90vh;
    width: 100vw;
    background-color: #0d0d0d;
    background-size: streach;
    background-position: center;
    background-repeat: no-repeat;
}